@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.titulo{
    font-family: kanit;
    text-align: right;
}

p,li{
    font-family: Alexandria;
    font-size: 15px;
}


.centro{
    width: 40%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
}

table{
    border: 1px solid;
    border-collapse: collapse;
}

tr,td{
    border: 1px solid;
    padding: 3px;
}

.primero{
    color: black;
    font-weight: bold;
    background: grey;;
}

h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(68, 95, 146);
    font-size: 25px;
}

h4{
    font-size: 17.5px;
    color: rgb(68, 95, 146);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}